*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#contact{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    background-size: cover;
}
#contact .content {
   max-width: 800px;
   text-align: center;
   margin-bottom: 50px;
}
#contact .content h1{
    font-size: 36px;
    font-weight: 500 bold;
    color:green;
   
    
}
#contact .content p{
    font-weight: 300;
    color: black;
    margin-top: 20px;
   
}
#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
} 
#container .contactinfo .box{
    position:relative;
    padding: 20px 0;
    display:flex;
}
#container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    font-size: 25px;
}
#container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:antiquewhite;
    flex-direction: column;
    font-weight: 300;
}
#container .contactinfo .box .text h3{
   color: black;
    
}
#container .contactinfo .box .text  p{
    font-size: 15px;
    color:black;}
#contactform{
    width:40%;
    padding: 40px;
    background: white;
}
#contactform h2{
    font-size: 30px;
    color: black;
    font-weight: 500;
}
#contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
#contactform .inputbox input,
#contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline:none;
    resize:none;
}
#send{
    background-color:rgb(21, 91, 21) ;
    color: white;
    border-radius: 20px;
    padding: 15px;
    border: none;
    
}






